PORT=3000
DATABASE_URL=postgres://postgres:postgres@postgres:5432/warcraft_logs
POSTGRES_DB=warcraft_logs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
WCL_CLIENT_ID=
WCL_CLIENT_SECRET=
WCL_SERVER_REGION=EU
